* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.selector-main {
  display: flex;
}

aside {
  max-width: 300px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

aside, main {
  height: 100vh;
  width: 100%;
}

aside input {
  margin: 20px 20px 0 20px;
  padding: 10px;
  width: 80%;
  border: 1px solid #ddd;
  border-radius: 7px;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 20px;
  padding: 3px;
  border-radius: 10px;
}

button:hover {
  background-color: #ddd;
  transition: 0.3s;
}

.boton-atras {
  display: none;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 30px;
  gap: 10px;
  width: 100%;
}

li {
  border-radius: 10px;
  padding: 8px;
}

li:hover {
  background-color: #ddd;
  cursor: pointer;
  transition: 0.3s;
}

.contenedor-conexion-usuario {
  display: flex;
  align-items: center;
  gap: 10px;
}

.informacion-de-conexion-de-usuario {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.estado-offline, .estado-online {
  font-size: 12px;
  color: gray;
}

.estado-online::before{
  content: "• ";
  color: green;
}

.estado-offline::before{
  content: "• ";
  color: red;
}

img {
  width: 40px;
  height: 40px;
}

main {
  display: flex;
  flex-direction: column;
}

.contenedor-barra-superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  height: 8%;
  padding: 20px;
}

.contenedor-info-barra-superior {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 16px;
}

.contenedor-chat {
  height: 100%;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contenedor-mensajes {
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 10px;
}

.contenedor-mensajes-derecha {
  align-self: flex-end;
  max-width: fit-content;
  background-color: rgb(202, 220, 221);
  padding: 10px;
  border-radius: 10px;
}

.contenedor-mensajes-izquierda {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contenedor-mensajes-izquierda div {
  max-width: fit-content;
  background-color: rgb(204, 204, 204);
  padding: 10px;
  border-radius: 10px;
}

.hora-conexion {
  font-size: 12px;
  color: gray;
  padding-top: 3px;
}

.contenedor-envio-mensaje {
  display: flex;
  margin: 15px;
  gap: 10px;
}

.contenedor-envio-mensaje input{
  border: 1px solid #ddd;
  width: 100%;
  padding: 10px;
  border-radius: 7px;
}


/* ---- responsive design ----*/

/* PANTALLA CELULAR */
@media (max-width: 767px) {
  
  aside {
  display: none;
  }
  .boton-atras {
    display: block;
    margin-right: 5px;
  }
}

/* PANTALLA TABLETS */
@media (min-width: 768px) and (max-width: 991px) {
  .informacion-de-conexion-de-usuario {
    display: none;
  }
  .contenedor-conexion-usuario{
    justify-content: center;
  }

  .contenedor-conexion-usuario img{
    width: 60px;
    height: 60px;
  }
    
  aside {
    max-width: fit-content;
  }
}