* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.selector-main {
  display: flex;
  margin: 20px;
}

.contenedor-barra-lateral {
  max-width: 300px;
  border-style: ridge;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  margin: 20px 20px 0 20px;
  padding: 5px;
  width: 80%;
}

.contenedor-usuarios {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 30px;
  gap: 20px;
  width: 100%;
}

.contenedor-conexion-usuario {
  display: flex;
  width: 100%;
  gap: 5px;
}

.informacion-de-conexion-de-usuario {
  display: flex;
  gap: 5px;
}

img {
  width: 20px;
  height: 20px;
}

main {
  display: flex;
  
}

.contenedor-barra-superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-style: ridge;
  height: 22%;
  width: 1000px;
  padding: 20px;
}

.contenedor-info-barra-superior {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.main-chat {
  display: flex;
  flex-direction: column;
}

.contenedor-chat {
  border-style: ridge;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contenedor-mensajes {
  margin: 15px;
}

.contenedor-mensajes p{
  padding: 20px;
  border-style: ridge;
}

.contenedor-mensajes p:first-child{
  text-align: end;
}

.contenedor-envio-mensaje {
  margin: 10px;
}

.contenedor-envio-mensaje input{
  width: 91%;
}

